XMonad/.config/xmonad/build-x86_64-linux/
XMonad/.config/xmonad/xmonad-x86_64-linux
XMonad/.config/xmonad/xmonad.errors
XMonad/.config/xmonad/xmonad.hi
XMonad/.config/xmonad/xmonad.o

*.bak
micro/.config/micro/backups
