@import "colors-waybar.css";

window#waybar {
  background-color: @color1;
  font-family: "Fira Code Nerd Font Propo";
  font-weight: bold;
}

label.module {
  padding: 3px 6px 0 6px;
  text-shadow: -1px -1px 0 @color1, 0 -1px 0 @color1, 1px -1px 0 @color1, 1px 0 0 @color1, 1px 1px 0 @color1, 0 1px 0 @color1, -1px 1px 0 @color1, -1px 0 0 @color1;
  color: @color7;
}

#workspaces button {
  background-color: @color5;
  margin: 1px;
  padding: 0;
  border-radius: 0px;
}
#workspaces button.active {
  color: @color15;
  text-shadow: -1px -1px 0 @color1, 0 -1px 0 @color1, 1px -1px 0 @color1, 1px 0 0 @color1, 1px 1px 0 @color1, 0 1px 0 @color1, -1px 1px 0 @color1, -1px 0 0 @color1;
}
#workspaces button.urgent {
  background-color: @color1;
  border: solid 1px @color1;
}

#custom-notification {
  color: @color7;
}
#custom-notification.notification {
  background-color: red;
}
#custom-notification.dnd-notification,
#custom-notification.inhibited-notification,
#custom-notification.dnd-inhibited-notification {
  color: red;
}

#clock {
  color: @color7;
}

#systemd-failed-units {
  background-color: @color1;
}

#idle_inhibitor.deactivated {
  color: @color7;
}
#idle_inhibitor.activated {
  background-color: red;
}

#mpris {
  background-color: @color6;
}

#bluetooth {
  background-color: @color4;
}
#bluetooth.on {
  background-color: yellow;
}
#bluetooth.off {
  background-color: red;
}

#pulseaudio {
  background-color: @color12;
}
#pulseaudio.muted {
  background-color: red;
}

#temperature {
  background-color: @color6;
}

#cpu {
  background-color: @color14;
}

#memory {
  background-color: @color14;
}

#disk {
  background-color: @color6;
}

#custom-weather {
  background-color: @color11;
}

#battery {
  background-color: @color4;
}
#battery.low {
  background-color: red;
}

#tray {
  background-color: @color1;
  padding: 0 5px 0 5px;
}
