@import "colors-waybar.css";

window#waybar {
  background-color: @color0;
  font-family: "Fira Code Nerd Font Propo";
  font-weight: bold;
}

label.module {
  padding: 3px 6px 0 6px;
  color: @color15;
}

#workspaces button {
  background-color: @color8;
  margin: 1px;
  padding: 0;
  border-radius: 0px;
}
#workspaces button.active {
  color: @color2;
  border: solid 1px @color2;
}
#workspaces button.urgent {
  background-color: @color1;
  border: solid 1px @color1;
}

#custom-notification {
  color: @color15;
}
#custom-notification.notification,
#custom-notification.dnd-notification,
#custom-notification.inhibited-notification,
#custom-notification.dnd-inhibited-notification {
  color: @color0;
  background-color: @color1;
}
#custom-notification.dnd-notification,
#custom-notification.dnd-inhibited-notification {
  color: @color0;
}

#clock {
  color: @color15;
}

#systemd-failed-units {
  background-color: @color1;
}

#idle_inhibitor.deactivated {
  color: @color15;
}
#idle_inhibitor.activated {
  background-color: @color3;
}

#mpris {
  background-color: @color6;
}

#bluetooth {
  background-color: @color4;
}
#bluetooth.on,
#bluetooth.off {
  background-color: @color1;
}

#pulseaudio {
  background-color: @color12;
}
#pulseaudio.muted {
  background-color: @color1;
}

#temperature {
  background-color: @color6;
}

#cpu {
  background-color: @color14;
}

#memory {
  background-color: @color6;
}

#disk {
  background-color: @color14;
}

#custom-weather {
  background-color: @color11;
}

#battery {
  background-color: @color4;
}
#battery.low {
  background-color: @color9;
}

#tray {
  background-color: @color0;
  padding: 0 5px 0 5px;
}
