@import "mocha.css";

window#waybar {
  background-color: @base;
  font-family: "Fira Code Nerd Font Propo";
  font-weight: bold;
}

label.module {
  color: @surface0;
  padding: 0 5px 0 5px;
}

#workspaces button {
  background-color: @surface0;
  margin: 1px;
  border-radius: 0px;
}
#workspaces button.active {
  color: @green;
  border: solid 1px @green;
}
#workspaces button.urgent {
  background-color: @red;
  border: solid 1px @red;
}

#custom-notification {
  color: @text;
}
#custom-notification.notification,
#custom-notification.dnd-notification,
#custom-notification.inhibited-notification,
#custom-notification.dnd-inhibited-notification {
  background-color: @red;
  color: @surface0;
}
#custom-notification.dnd-notification,
#custom-notification.dnd-inhibited-notification {
  color: @surface0;
}

#clock {
  color: @text;
}

#systemd-failed-units {
  background-color: @red;
}

#idle_inhibitor.deactivated {
  color: @text;
}
#idle_inhibitor.activated {
  background-color: @peach;
}

#mpris {
  background-color: @lavender;
}

#bluetooth {
  background-color: @blue;
}
#bluetooth.on,
#bluetooth.off {
  background-color: @red;
}

#pulseaudio {
  background-color: @sapphire;
}
#pulseaudio.muted {
  background-color: @red;
}

#temperature {
  background-color: @pink;
}

#cpu {
  background-color: @flamingo;
}

#memory {
  background-color: @rosewater;
}

#disk {
  background-color: @maroon;
}

#custom-weather {
  background-color: @yellow;
}

#tray {
  background-color: @surface0;
  padding: 0 5px 0 5px;
}
