[Desktop Entry]
Name=BlueTUI
Comment=TUI for bluetooth devices
Exec=kitty --title=niri-float -e bluetui
Icon=bluetui
Terminal=false
Type=Application
StartupNotify=false
