[Desktop Entry]
Name=BlueTUI
Comment=TUI for bluetooth devices
Exec=ghostty --title=bluetui -e bluetui
Icon=bluetui
Terminal=false
Type=Application
StartupNotify=false
