[Desktop Entry]
Name=swayimg
Comment=Simple image viewer for Wayland and X11
Exec=swayimg %U
Icon=swayimg
Terminal=false
Type=Application
Categories=Graphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/tif;image/webp;image/svg+xml;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-icns;image/x-ico;image/x-icon;image/vnd.microsoft.icon;image/x-tga;image/x-xcf;
StartupNotify=false
