[Desktop Entry]
Name=Wiremix
Comment=TUI mixer
Exec=kitty --title=niri-float -e wiremix
Icon=wiremix
Terminal=false
Type=Application
StartupNotify=false
